.tag {
  padding: 4px;
  border-radius: 2px;
}
.sub-title {
  font-weight: 400;
  color: #4CAF50;
}
.file-list {
  max-height: 70vh;
  overflow: auto;
}
.header {
  border-bottom: 0 none !important;
}
.loader {
  box-sizing: border-box;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

/*
You may do your styling here or in your own file.
Feel free to remove / change anything you like.
*/
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: #000000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 19px;
  color: #777777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.view {
  margin-top: 70px;
}
.tag {
  padding: 4px;
  border-radius: 2px;
}
.sub-title {
  font-weight: 400;
  color: #4CAF50;
}
.file-list {
  max-height: 70vh;
  overflow: auto;
}
.header {
  border-bottom: 0 none !important;
}
.loader {
  box-sizing: border-box;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.flex-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}

/*
You may do your styling here or in your own file.
Feel free to remove / change anything you like.
*/
.browsehappy {
  margin: 0.2em 0;
  background: #cccccc;
  color: #000000;
  padding: 0.2em 0;
}
body {
  padding: 0;
}
.header {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}
.marketing {
  padding-left: 15px;
  padding-right: 15px;
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 19px;
  color: #777777;
  border-top: 1px solid #e5e5e5;
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.view {
  margin-top: 70px;
}
